/*added as experiment to see if it affected whether it would make the two pages communicate; not at all sure that it's necessary*/
@import url("../style/fonts.css");

/*reset all defaults*/

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

/*add basic styling elements*/
body {
    background-color: #3C4A45;
    font-family: 'oxygen', sans-serif;
    color: #E9E4D4;    
}

/*add more specific text styling*/
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    font-family: 'kanit-italic', sans-serif;
    font-size: 500%;
    letter-spacing: .27em;
}

h2 {
    font-family: 'kanit-thin', sans-serif;
    font-size: 140%;
}

p {
    text-align: left;
}

/*styling for navigation bar*/
nav {
    
    background-color: #3C4A45;
    color: #6f9849;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: #E9E4D4;
    font-family: 'oxygen', sans-serif;
        /*not sure if this font is applying right. import command problem, i think*/
    text-decoration: none;
}

/*adding hover effect to navigation links*/
a:hover {
    color: #6f9849;
}

/*styling for breaks between sections*/
.break {
    padding: 40px;
}

.break-2 {
    padding: 100px;
}


/*styling for video aka hero image*/
#hero-video {
    width: 100%;
    left: 50%
}

/*styling for section banners*/

.banner-1 {
    position: relative;
    text-align: left;
    color: #E9E4D4;
}


.banner-text-1 {
    position: absolute;
    top: 25%;
    left: 16px;
    font-family: 'kanit-italic-2', sans-serif;
    font-size: 300%;
    text-align: left;
}

/*styling for body content. they probably should all be together, but I can't get them to not overlap. I think something w/ the position: absolute command*/
.para-1 {
    width: 40%;
    background-color: #4f5c57;
    color: #E9E4D4;
    text-align: center;
    padding: 30px;
    position: absolute;
    left: 30%;
}

.para-2 {
    width: 40%;
    background-color: #4f5c57;
    color: #E9E4D4;
    text-align: center;
    padding: 30px;
    position: absolute;
    left: 30%;
}

#para-2-header {
    width: 90%;
    background-color: rgba(0,0,0,0);
    color: #E9E4D4;
    border:solid, 5px, #73675C;
    padding: 30px;
    position: absolute;
    left: 2.5%
}

#para-2-header p {
    text-align: center;
}

#para-3-header {
    width: 90%;
    background-color: rgba(0,0,0,0);
    color: #E9E4D4;
    border:solid, 5px, #73675C;
    padding: 30px;
    position: absolute;
    left: 2.5%;
}

#para-3-header p {
    text-align: center;
}

/*specific styling for elements and principles*/

.para-3 {
    flex: 1;
    padding: 30px;
    text-align: center;
}


#dig-elements {
    width: 80%;
    background-color: #4f5c57;
    color: #E9E4D4;
    text-align: center;
    padding: 30px;
    position: absolute;
    left: 7%;
}

#dig-principles {
    width: 80%;
    background-color: #4f5c57;
    color: #E9E4D4;
    text-align: center;
    padding: 30px;
    position: absolute;
    left: 7%;
}

    /*I think somewhere between the paragraphs and the section banners, the position: absolute command is messing up the layout*/

.hyperlink {
    color: #E9E4D4;
}

/*styling for the style guide photos*/
#style-guide {
    width: 100%;
    display: flex 25%;
    text-align: center;
}

.style-image {
    width: 300px;
    padding: 20px;
}

/*styling for the quote*/

.banner-2 {
    background-color: rgba(115, 103, 92, 0.5);
    width:85%;
    height: 400px;
}

#quote {
    background-color: rgb(115, 103, 92);
    text-align: center;
    padding: 80px;
    width: 65%;
    position: absolute;
}

#quote blockquote {
    font-family: 'kanit-italic', sans-serif;
    font-size: 225%;
}


/*styling for the footer*/
.footer {
    
    background-color: #3C4A45;
    color: #E9E4D4;
    padding: 10px;
    text-align: center;
}

.footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}


.footer ul li a {
    color: #E9E4D4;
    font-family: 'oxygen', sans-serif;
        /*not sure if this font is applying right. import command problem, i think*/
    text-decoration: none;
}

/*adding hover effect to links*/
.footer a:hover {
    color: #6f9849;
}